.current-post-screen {
    width: 500px;
    margin: 25px auto 0;
    position: relative;
}

.commets-list {
    width: 80%;
    padding: 0 8px;
    margin-bottom: 40px;

    &__item {
        display: block;
        border-bottom: 1px solid #e1e1e1;

        &::last-child {
            border-bottom: none;
        }
    }
}