<div class="post">
    <mat-card class="mat-elevation-z0 outline">
        <mat-card-title class="post__title">{{post.title}}</mat-card-title>
        <mat-card-content>
            <p>{{ post.body }}</p>
        </mat-card-content>
        <app-star-rating [rating]="rating" [starCount]="starCount" (ratingUpdated)="onRatingChanged(post.id, $event)"></app-star-rating>
        <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"></star-rating> -->
        <ng-content selector=".footer"></ng-content>
    </mat-card>
</div>