/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.outline {
    border-style: solid;
    border-width: medium;
    border: .5px solid rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.01);
}
